* {
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
.flex {
  display: flex;
}
.header {
  position: relative;
  margin: 30px 0 30px 40px;
}
.header-up {
  margin-bottom: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2.28rem;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.header-down {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #292929;
}
.header__nav {
  position: absolute;
  right: 0px;
  top: 16px;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  right: 0;
  list-style-type: none;
}
.list-item__link {
  text-decoration: none;
  margin-right: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #545454;
}
.list-item__link:hover {
  text-decoration: underline 2px #f1cdb3;
}
.our-friends__upname {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 45px;
  width: 460px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 130%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends__main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 45px 40px 45px 40px;
}
.main__pets-card-prewie {
  margin-bottom: 30px;
}
.pets-card-prewie__img {
  margin-bottom: 30px;
}
.pets-card-prewie__name {
  margin-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.42rem;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets-card-prewie__button {
  margin: 0 auto;
  margin-bottom: 30px;
  height: 52px;
  width: 187px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.21rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.our-friends__navigation {
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 340px;
  height: 52px;
}
.navigation__button {
  border: none;
  background: none;
}
.footer {
  position: relative;
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}
.footer__img {
  position: absolute;
  right: 40px;
  top: 40px;
}

.footer__address {
  display: flex;
  margin-right: 500px;
}

.footer__address .address {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  /* margin-right: 160px; */
  padding-top: 56px;
  padding-bottom: 60px;
  width: 335px;
}
.address__header {
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.address__link-left {
  display: flex;
  margin-top: 40px;
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.42rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.address__link-right {
  display: flex;
  margin-top: 33px;
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.42rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.address__img-left {
  margin-right: 20px;
  width: 40px;
  height: 26px;
}
.address__img-right {
  margin-right: 20px;
  width: 22px;
  height: 32px;
}
