* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
.header-need-house {
  height: 908px;
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}
.header__img {
  position: absolute;
  width: 698px;
  height: 728px;
  top: 180px;
  right: 40px;
}
.header__logo {
  position: absolute;
  width: 184px;
  height: 35px;
  top: 60px;
  left: 40px;
}
.logo-up {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-bottom: 10px;
  white-space: nowrap;
}
.logo-down {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.header__nav {
  position: absolute;
  height: 60px;
  width: 543px;
  top: 76px;
  right: 40px;
}
.nav__list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.list-item__link {
  text-decoration: none;
}
.list-item__link:hover {
  text-decoration: underline #f1cdb3 2px;
}
.nav .nav__list-item .list-item__link p {
  white-space: nowrap;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
.need-house {
  position: absolute;
  top: 343px;
  left: 40px;
}
.need-house__header {
  width: 310px;
  height: 114px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;

  align-items: center;

  color: #ffffff;
  margin-bottom: 42px;
}
.need-house__text {
  width: 460px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  align-items: center;

  color: #cdcdcd;
  margin-bottom: 42px;
}
.need-house__button {
  align-items: center;
  padding: 15px 45px;
  gap: 10px;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
  border: none;
}
.about-the-shelter {
  position: relative;
  height: 588px;
}
.about-the-shelter__image {
  position: absolute;
  width: 300px;
  height: 408px;
  left: 175px;
  top: 80px;
}
.about-the-shelter__description {
  position: absolute;
  width: 430px;
  height: 380px;
  left: 595px;
  top: 94px;
}
.description__header {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 25px;
}
.description__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  margin-bottom: 25px;
}
.our-friends {
  position: relative;
  height: 697px;
  margin-top: 80px;
}
.our-friends__header {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 400px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends__main {
  margin: 0 auto;
  height: 435px;
  display: flex;
  justify-content: space-around;
}
.main__arrow-left,
.main__arrow-right {
  border: none;
  background: none;
}

.main__pet-card-preview {
  position: relative;
  width: 270px;
  height: 435px;
}
.pet-card-preview__name {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.name__button {
  position: absolute;
  width: 187px;
  height: 52px;
  top: 353px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}
.name__button .button__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
  vertical-align: middle;
}
.main__button-rest {
  position: absolute;
  width: 261px;
  height: 52px;
  left: 50%;
  transform: translateX(-50%);
  top: 645px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
}
.main__button-rest p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.help-shelter {
  position: relative;
  margin-top: 180px;
}
.help-shelter__header {
  margin: 0 auto;
  height: 90px;
  width: 308px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 60px;
}
.help-shelter__list-up {
  width: 1026px;
  height: 281px;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.help-shelter__list-down {
  width: 1026px;
  height: 281px;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.list-item {
  position: relative;
  width: 82px;
  height: 113px;
}
.list-item__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
}
.help-shelter .list-item p {
  margin: 0 auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.credit-card {
  position: relative;
  height: 462px;
}
.credit-card__img {
  position: absolute;
  top: 91px;
  left: 183px;
}
.credit-card__address {
  position: absolute;
  height: 282px;
  width: 380px;
  top: 80px;
  right: 181px;
}
.credit-card__address .address__header {
  width: 300px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.address__name-bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.address__text {
  background: #f1cdb3;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.text__img {
  margin: 0px 15px 0px 0px;
  padding-top: 10px;
  padding-left: 15px;
}
.address__footer {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b2b2b2;
}
.footer-background {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}
.footer {
  position: relative;
  height: 350px;

  display: flex;
}
.footer .address__img {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 300px;
  height: 310px;
}

.footer .footer__address {
  width: 302px;
  height: 234px;
  margin: 56px 100px 0 40px;
}
.footer .address__header {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 40px;
}
.footer .address__link,
.footer .address__map {
  display: flex;
  flex-direction: column;
}
.footer .link,
.footer .map {
  display: flex;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}
.footer .map {
  margin-bottom: 32px;
}
.footer .link__img {
  width: 40px;
  height: 32px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.footer .map__img {
  width: 22px;
  height: 32px;
  margin-right: 20px;
}
