* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
button:hover {
  background: #f1cdb3;
}
.header-need-house {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px 0px 40px;
}
.header__img {
  position: absolute;
  width: 40vw;
  bottom: 0;
  right: 40px;
  z-index: 1;
  /* filter: drop-shadow(10px 0px 5px black); */
  filter: contrast(80%);
}

.logo-up {
  font-size: 2.5rem;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-bottom: 10px;
  white-space: nowrap;
}
.logo-down {
  font-family: "Arial";
  font-size: 1rem;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav__list-item:not(:last-child) {
  margin-right: 35px;
}
.list-item__link {
  text-decoration: none;
  font-family: "Arial";
  font-size: 1rem;
  line-height: 160%;
  color: #cdcdcd;
}
.list-item__link:hover {
  text-decoration: underline #f1cdb3 2px;
}

.need-house {
  padding: 223px 40px 243px 42px;
}
.need-house__header {
  width: 355px;
  font-family: "Georgia";
  font-size: 3.14rem;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 42px;
}
.need-house__text {
  width: 460px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-bottom: 42px;
}
.need-house__button {
  align-items: center;
  padding: 15px 45px;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
  border: none;
}
.about-the-shelter {
  display: flex;
  padding: 80px 40px 100px 40px;
  background: #ffffff;
}
.about-the-shelter__image {
  height: 10%;
  padding-left: 175px;
  margin-right: 120px;
}
.about-the-shelter__description {
  width: 430px;
}
.description__header {
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 25px;
}
.description__text {
  font-family: "Arial";
  font-size: 1rem;
  line-height: 160%;
  color: #4c4c4c;
  margin-bottom: 25px;
}
.our-friends {
  background: #f6f6f6;
}
.our-friends__header {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 400px;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends__main {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__arrow-left,
.main__arrow-right {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: none;
  background: none;
}

.main__pet-card-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}
.pet-card-preview__name {
  margin-bottom: 30px;
  font-size: 1.42rem;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.name__button {
  margin: 0 auto;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 30px;
}
.name__button .button__text {
  font-size: 1.21rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
}
.main__button-rest {
  display: flex;
  padding: 15px 45px 15px 45px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
}
.main__button-rest-text {
  font-size: 1.42rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.help-shelter {
  margin-top: 180px;
  background: #ffffff;
}
.help-shelter__header {
  margin: 0 auto;
  width: 320px;
  font-size: 2.5rem;
  line-height: 130%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 60px;
}
.help-shelter__list-up {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0px 127px 55px 127px;
}
.help-shelter__list-down {
  margin: 0px 127px 55px 127px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.help-shelter .list-item {
  display: flex;
  flex-direction: column;
}
.list-item__img {
  margin: 0 auto;
  margin-bottom: 30px;
}
.help-shelter .list-item__text {
  margin: 0 auto;
  font-size: 1.42rem;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.section-credit-card {
  background: #f6f6f6;
}
.credit-card {
  display: flex;
  padding: 80px 0px 100px 182px;
}
.credit-card__img {
}
.credit-card__address {
  height: 282px;
  width: 380px;
}
.credit-card__address .address__header {
  width: 332px;
  font-size: 2.5rem;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.address__name-bank {
  font-size: 1rem;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.address__text {
  display: flex;
  align-items: center;
  max-width: 405px;
  margin-bottom: 20px;
  width: 110%;
  background: #f1cdb3;
  border-radius: 9px;
}
.text__img {
}
.credit-card .text {
  padding: 10px 15px 10px 15px;
  font-size: 1.42rem;
  line-height: 115%;
  vertical-align: middle;
  letter-spacing: 0.06em;
  color: #545454;
}
.address__footer {
  font-family: "Arial";
  font-style: italic;
  font-size: 0.9rem;
  line-height: 18px;
  align-items: center;
  color: #b2b2b2;
}
.footer-background {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}
.footer {
  display: flex;
}
.footer .address__img {
  position: absolute;
  bottom: 0;
  right: 40px;
  height: 310px;
  width: 300px;
}

.footer .footer__address {
  width: 330px;
  margin: 56px 100px 0 40px;
  z-index: 5;
}
.footer .address__header {
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 40px;
}
.footer .address__link,
.footer .address__map {
  display: flex;
  flex-direction: column;
}
.footer .link,
.footer .map {
  display: flex;

  font-size: 1.42rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}
.footer .map {
  margin-bottom: 32px;
}
.footer .link__img {
  width: 40px;
  height: 32px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.footer .map__img {
  width: 22px;
  height: 32px;
  margin-right: 20px;
}
