* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
button:hover {
  background: #f1cdb3;
}
.header-need-house {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px 40px 40px;
}

.logo-up {
  font-size: 2.5rem;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-bottom: 10px;
  white-space: nowrap;
}
.logo-down {
  font-family: "Arial";
  font-size: 1rem;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.header__burger {
  margin-left: 30px;
  display: none;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav__list-item:not(:last-child) {
  margin-right: 35px;
}
.list-item__link {
  text-decoration: none;
  font-family: "Arial";
  font-size: 1rem;
  line-height: 160%;
  color: #cdcdcd;
}
.list-item__link:hover {
  text-decoration: underline #f1cdb3 2px;
}

.need-house {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 40px 0px 42px;
}
.need-house__hgroup {
  width: 460px;
  padding: 223px 0 100px 0;
}
.need-house__header {
  font-size: 3.14rem;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 42px;
}
.need-house__text {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-bottom: 42px;
}
.need-house__button {
  align-items: center;
  padding: 15px 45px;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
  border: none;
}
.need-house__picture {
  display: flex;
  align-items: flex-end;
}
.need-house__img {
  position: relative;
  bottom: -1px;
  max-width: 698px;
  width: 55vw;
  z-index: 1;
}
.about-the-shelter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px 40px 100px 40px;
  background: #ffffff;
}
.about-the-shelter__image {
}
.about-the-shelter__description {
  text-align: center;
  padding: 0px 15px 0px 15px;
  max-width: 430px;
}
.description__header {
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 25px;
}
.description__text {
  font-family: "Arial";
  font-size: 1rem;
  line-height: 160%;
  color: #4c4c4c;
  margin-bottom: 25px;
}
.our-friends {
  padding: 80px 0 100px 0;
  background: #f6f6f6;
}
.our-friends__header {
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends__main {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__arrow-left {
  position: absolute;
  left: 0px;
  top: 192px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: none;
  background: none;
}
.main__arrow-right {
  position: absolute;
  right: 0px;
  top: 192px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: none;
  background: none;
}
.main__card-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.main__pet-card-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 40px 60px 40px;
}

.pet-card-preview__name {
  margin-bottom: 30px;
  font-size: 1.42rem;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.name__button {
  margin: 0 auto;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 30px;
}
.name__button .button__text {
  font-size: 1.21rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
}
.main__button-rest {
  display: flex;
  padding: 15px 45px 15px 45px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
}
.main__button-rest-text {
  font-size: 1.42rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.help-shelter {
  margin-top: 180px;
  background: #ffffff;
}
.help-shelter__header {
  margin: 0 auto;
  width: 320px;
  font-size: 2.5rem;
  line-height: 130%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 60px;
}
.help-shelter__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1026px;
  width: 100%;
  list-style-type: none;
}

.help-shelter .list-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 185px;
  margin: 55px 0;
}

.list-item__img {
  margin: 0 auto;
  margin-bottom: 30px;
}
.help-shelter .list-item__text {
  margin: 0 auto;
  font-size: 1.42rem;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.section-credit-card {
  background: #f6f6f6;
}
.credit-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 20px 100px 20px;
}
.credit-card__img {
  max-width: 505px;
  width: 100%;
  margin-right: 30px;
}

.credit-card__address {
  width: 380px;
}
.credit-card__address .address__header {
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.address__name-bank {
  font-size: 1rem;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.address__text {
  display: flex;
  /* flex-wrap: nowrap; */
  align-items: center;
  max-width: 405px;
  margin-bottom: 20px;
  width: 100%;
  background: #f1cdb3;
  border-radius: 9px;
}

.credit-card .text {
  padding: 10px 0px 10px 10px;
  font-size: 1.42rem;
  line-height: 115%;
  vertical-align: middle;
  letter-spacing: 0.06em;
  color: #545454;
}
.address__footer {
  font-family: "Arial";
  font-style: italic;
  font-size: 0.9rem;
  line-height: 18px;
  align-items: center;
  color: #b2b2b2;
}
.footer-background {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 56px 40px 0px 40px;
}
.footer__picture {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.footer .address__img {
  position: relative;
  bottom: 0px;
  right: 0px;
}

.footer .footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
.footer .address__header {
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 40px;
}
.footer .address__link,
.footer .address__map {
  display: flex;
  flex-direction: column;
}
.footer .link,
.footer .map {
  display: flex;

  font-size: 1.42rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}
.footer .map {
  margin-bottom: 32px;
}
.footer .link__img {
  margin-bottom: 40px;
  margin-right: 20px;
}
.footer .map__img {
  margin-right: 20px;
}
@media (max-width: 1267px) {
  .footer__picture {
    width: 100%;
  }
}
@media (max-width: 955px) {
  .credit-card__img {
    order: 1;
    margin-top: 20px;
  }
  .main__pet-card-preview:last-child {
    display: none;
  }
}
@media (max-width: 810px) {
  .nav__list-item:not(:last-child) {
    margin-right: 25px;
    margin-bottom: 43px;
  }
  .about-the-shelter__image {
    order: 1;
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
  .nav__list {
    position: absolute;
    top: 248px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background-color: #292929;
    z-index: 2;
    width: 80%;
    text-align: center;
    display: none;
  }
  .list-item__link {
    font-size: 1.78rem;
  }
  .main__pet-card-preview:nth-child(2) {
    display: none;
  }
  .credit-card__img {
    margin-right: 0;
  }
  .footer .footer__address {
    width: 100%;
  }
  .need-house__header,
  .description__header,
  .footer .address__header,
  .credit-card__address .address__header,
  .our-friends__header,
  .help-shelter__header {
    font-size: 1.78rem;
  }
}
@media (max-width: 400px) {
  .header {
    padding-left: 10px;
  }

  .main__arrow-left {
    left: 58px;
    top: 400px;
  }
  .main__arrow-right {
    right: 58px;
    top: 400px;
  }
  .credit-card .text {
    font-size: 1rem;
  }
}
