#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.green {
  border: 2px solid green;
  text-align: center;
  width: 30px;
  height: 30px;
}
.weekday {
  text-align: center;
}
.yearAndMonth {
  display: flex;
  align-items: center;
}
.yearAndMonth p {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
}
.yearAndMonth button {
  border: none;
  background: none;
  cursor: pointer;

  height: 20px;
}
.yearAndMonth button:hover {
  background: rgba(128, 128, 128, 0.553);
}
